* {
  margin:0;
  padding:0;
  background-color: #24252A;
}

body {
  background-colour: #efefef;
  font-family: sans-serif;
}

h1 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 64px;
  color: #edf0f1;
  text-decoration: none;
  background-color: inherit;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
  background-color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 05%;
  background-color: #02d083;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: list-item;
  padding: 5px 5px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9
  cursour: pointer;
}

.contact-box {
  width: 500px;
  background-colour: #fff;
  box-shadow: 0 0 20px 0 #999;
  top: 50%;
  left: 50%
  margin-top: -50px;
  margin-left: 1000px;
  transform: translate(-50%,-50%);
  position: absolute;
  align-items: center;
}

form {
  margin: 35px;
}

.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left:20px;
  border: 1px solid #777;
  border-radius: 14px;
  outline: none;
}

.textarea-field {
  height: 150px;
  padding-top:10px;
}

.btn {
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding:10px;
  background-colour: #47c35a;
  font-size:12px;
  border: none;
  cursour: pointer;
}
